<h1>User Page</h1>
<h1>
    User Selected: {{=n}}
</h1>

<h1>
    User Features:
</h1>

    <form  action="/BabbleBot/userFeatures/userMarkov">
          <input type="hidden" name="id" value="{{=p}}">
          <input type="submit" value="User Markov">
    </form>
    <form  action="/BabbleBot/features/likesRecievedPerUser">
            <input type="hidden" name="id" value="{{=p}}">
          <input type="submit" value="Number of Likes a User has Recieved">
    </form>
    <form  action="/BabbleBot/features/groupMarkov">
        <input type="hidden" name="id" value="{{=p}}">
          <input type="submit" value="Group Markov">
    </form>
    <form  action="/BabbleBot/features/groupMarkov">
        <input type="hidden" name="id" value="{{=p}}">
          <input type="submit" value="Group Markov">
    </form>
    <form  action="/BabbleBot/features/groupMarkov">
        <input type="hidden" name="id" value="{{=p}}">
          <input type="submit" value="Group Markov">
    </form>
    <form  action="/BabbleBot/features/groupMarkov">
        <input type="hidden" name="id" value="{{=p}}">
          <input type="submit" value="Group Markov">
    </form>
