{{extend 'layout.html'}}
<div class="container">
    <h1 class="text-center">{{=n}}</h1><br>

    <h2 class="text-center">User Statistics</h2>
    <a class="btn btn-outline-primary btn-block" href="/BabbleBot/userFeatures/userMarkov?id={{=p}}">
        {{=n}}'s Markov Chain Generator
    </a>
    <a class="btn btn-outline-primary btn-block" href="/BabbleBot/userFeatures/userMarkov">
        Amount of Comments {{=n}} Has Posted
    </a>
    <a class="btn btn-outline-primary btn-block" href="/BabbleBot/userFeatures/userMarkov">
        Amount of Likes {{=n}} Has Recieved
    </a>
    <a class="btn btn-outline-primary btn-block" href="/BabbleBot/userFeatures/userMarkov">
        Amount of Likes {{=n}} Has Given
    </a>
    <a class="btn btn-outline-primary btn-block" href="/BabbleBot/userFeatures/userMarkov">
        place holder
    </a>
    <a class="btn btn-outline-primary btn-block" href="/BabbleBot/userFeatures/userMarkov">
        place holder
    </a>

</div>
