{{extend 'layout.html'}}
<div class="container">
   <h1 class="text-center">All Comments!</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Message</th>
                <th>Likes</th>
            </tr>
        </thead>

        <tbody>
            {{for k,v in m.items()}}
            <tr>
                <td>{{=v[0]}}</td>
                <td>{{=v[1]}}</td>
                <td>{{=v[2]}}</td>
            </tr>
            {{pass}}
        </tbody>
    </table>
    <a class="btn btn-outline-primary btn-block" href="{{=URL('core','postToGroupMe',vars=dict(message=rich))}}">
        Post Comments To GroupMe
    </a>

    <a class="btn btn-outline-secondary btn-block" href="{{=URL('core','featureList')}}">
        Return to Group Page
    </a>
</div>
