{{extend 'layout.html'}}
<div class="container">
   <h1 class="text-center">Most Liked Comments!</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Message</th>
                <th>Likes</th>
            </tr>
        </thead>

        <tbody>
            {{for x in m: }}
            <tr>
                <td>{{=x[0]}}</td>
                <td>{{=x[2]}}</td>
                <td>{{=x[1]}}</td>
            </tr>
            {{pass}}
        </tbody>
    </table>
    <a class="btn btn-outline-primary btn-block" href="{{=URL('core','postToGroupMe',vars=dict(message=rich))}}">
        Post Comments To GroupMe
    </a>

    <a class="btn btn-outline-secondary btn-block" href="{{=URL('core','featureList')}}">
        Return to Group Page
    </a>
</div>
