{{extend 'layout.html'}}
<!-- {{=BEAUTIFY(response._vars)}} -->
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Comments</th>
            </tr>
        </thead>

        <tbody>
            {{for k,v in sorted(ans.items(), key=lambda x: x[1], reverse=True): }}
            <tr>
                <td>{{=k}}</td>
                <td>{{=v}}</td>
            </tr>
            {{pass}}
        </tbody>
    </table>
</div>
