{{extend 'layout.html'}}
<div class="container">
    <h1 class="text-center">Group Member's Secret Admirers</h1>
    <h3 class="text-center">Who likes a specific Member</h3>
    
    {{for name, smallDict in m.iteritems():}}<br>
    <h4 ><center>{{=name}}</center>
        
    </h4>
    <table class="table table-striped">
        <thead>
            <tr>        
                <th>Secret Admirers of {{=name}}</th>
                <th>Number Of {{=name}}'s Comments They Liked</th>
                 <th>Percent Of Comments liked</th>
            </tr>
        </thead>
        {{x = 0}}
        {{for crush,likes in sorted(smallDict[0].items(), key=lambda x: x[1], reverse=True):}}
            {{x+=1}}
            {{if x > 3:}}
            {{x += 1}}
            {{else:}}
        <tbody>
            <tr>
                <td>{{=crush}}</td>
                <td>{{=likes}}</td>
                {{number = float(likes)/smallDict[1]}}
                {{number = str(round(number,2))}}
                {{number += '0'}}
                <td>{{=number[number.find('.')+1:number.find('.')+3]}}%</td>
            </tr>
        </tbody>
        {{pass}}
        {{pass}}
    </table>
    {{pass}}
     <a class="btn btn-outline-primary btn-block" href="{{=URL('core','postToGroupMe',vars=dict(message=rich))}}">
        Post Rankings To GroupMe
    </a>
</div>
