{{extend 'layout.html'}}

<div class="container text-center">
    {{ if auth == True:}}
    <h1>Select Group</h1>
    <br>
    <form method="get" action="{{=URL('getComments')}}">
        <!-- The user will select their group     -->
        <select name="groupID">
            <option name="groupID" value="">Choose a Group</option>
            {{for group in groups:}}
                <option name="groupID" value="{{=group['group_id']}}">{{=group['name']}}</option>
            {{pass}}
        </select>
            <!-- I really should have proper CSS to space everything properly, but this will do for now -->
        <br> <br>
        <button type="submit" class="btn btn-lg btn-primary">Select</button>
    </form>
    {{ else:}}
    <!-- INPUT BAD AUTH RESPONSE HERE -->
    <h1>
        Bad Authentication Token Inputed
    </h1>
    {{pass}}
</div>
