{{extend 'layout.html'}}

<div class="container text-center">
	<form method="post" action="{{=URL('checkLogin')}}">
		<h1>Login</h1>
        <div class="form-group row justify-content-md-center">
            <div class="col-md-4">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
        </div>
        <input id="logInType" name="logInType" type="hidden" value="login">

        <div class=" form-group row justify-content-md-center">
            <div class="col-md-4">
                <input type="password" class="form-control" name="passwd" placeholder="Password">
            </div>
        </div>

        <!-- This should only display if login was unsuccessful -->
        {{if s:}}
            <div class="form-group row justify-content-md-center">
                <div class="col-md-4">
                    <div class="alert alert-danger show">The email or password is incorrect.</div>
                </div>
            </div>
        {{pass}}

        <button type="submit" class="btn btn-info">Login</button>

	</form>
</div>
